html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, th, dt {
    font-weight: 600;
}

td, dd, li {
    font-weight: 400;
}